AggregateAttic/conf/schema/rspec_v3/stitch-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="http://hpn.east.isi.edu/rspec/ext/stitch/0.2/"
    xmlns:stitch="http://hpn.east.isi.edu/rspec/ext/stitch/0.2/">
  
    <xs:annotation>
      <xs:documentation>
        This is an example schema for the GENI Common Topology Schema. 
        --- Open it in FireFox to view the XSD structure.
      </xs:documentation>
    </xs:annotation>
    
  <!-- Aggregate Topology -->
  <xs:element name="topology" type="stitch:GeniStitchTopologyContent"/>
  
  <xs:complexType name="GeniStitchTopologyContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="lastupdatetime" type="xs:string"/>
      <xs:element minOccurs="0" name="AggregateUrl" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="stitch:path"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="stitch:aggregate"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aggregateSignature" 
        type="stitch:GeniStitchAggregateSignatureContent"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
  <!-- /Aggregate Topology -->

  <!-- Aggregate -->
  <xs:element name="aggregate" type="stitch:GeniStitchAggregateContent"/>
  
  <xs:complexType name="GeniStitchAggregateContent">
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="1" name="aggregatetype" type="xs:string"/>
	<xs:element minOccurs="0" maxOccurs="1" name="stitchingmode" type="xs:string"/>
	<xs:element minOccurs="0" maxOccurs="1" name="scheduledservices" type="xs:string"/>
	<xs:element minOccurs="0" maxOccurs="1" name="negotiatedservices" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="lifetime" type="stitch:Lifetime"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="stitch:node"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="stitch:port"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="stitch:link"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
  <!-- /Aggregate -->

  <!-- Node -->
  <xs:element name="node" type="stitch:GeniStitchNodeContent"/>
  
  <xs:complexType name="GeniStitchNodeContent">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="lifetime" type="stitch:Lifetime"/>
        <xs:element minOccurs="0" name="address" type="stitch:GeniStitchAddressContent" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="stitch:port"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
  <!-- /Node -->

  <!-- Port -->
  <xs:element name="port" type="stitch:GeniStitchPortContent" />
  
  <xs:complexType name="GeniStitchPortContent">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="lifetime" type="stitch:Lifetime"/>
        <xs:element minOccurs="0" name="capacity" type="xs:string"/>
        <xs:element minOccurs="0" name="maximumReservableCapacity" type="xs:string"/>
        <xs:element minOccurs="0" name="minimumReservableCapacity" type="xs:string"/>
        <xs:element minOccurs="0" name="granularity" type="xs:string"/>
        <xs:element minOccurs="0" name="unreservedCapacity" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="stitch:link"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
  <!-- /Port -->

  
  <!-- Link -->
  <xs:element name="link" type="stitch:GeniStitchLinkContent" />
  
  <xs:complexType name="GeniStitchLinkContent">
      <xs:sequence>
        <xs:element minOccurs="0" name="remoteLinkId" type="xs:string" />
        <xs:element minOccurs="0" name="trafficEngineeringMetric" type="xs:string"/>
        <xs:element minOccurs="0" name="capacity" type="xs:string"/>
        <xs:element minOccurs="0" name="maximumReservableCapacity" type="xs:string"/>
        <xs:element minOccurs="0" name="minimumReservableCapacity" type="xs:string"/>
        <xs:element minOccurs="0" name="granularity" type="xs:string"/>
        <xs:element minOccurs="0" name="unreservedCapacity" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" 
            name="linkProtectionTypes" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="administrativeGroups" 
            type="stitch:GeniStitchAdministrativeGroup"/>
        <xs:element name="SwitchingCapabilityDescriptors" type="stitch:GeniStitchSwcapContent"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
   <!-- /Link -->

  <!-- Path -->
  <!--Path element is used to describe a simple point-to-point path-->
  <xs:element name="path" type="stitch:GeniStitchPathContent" />
  
  <xs:complexType name="GeniStitchPathContent">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="lifetime" type="stitch:Lifetime" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="hop" type="stitch:GeniStitchHopContent" />
        <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
      <xs:attribute name="direction" use="optional" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="GeniStitchHopContent">
      <xs:sequence>
        <xs:element minOccurs="0" name="hopType" type="xs:string" />
        <xs:element minOccurs="0" name="aggregateIdRef" type="xs:string" />
        <xs:element minOccurs="0" name="nodeIdRef" type="xs:string" />
        <xs:element minOccurs="0" name="portIdRef" type="xs:string" />
        <xs:element minOccurs="0" name="linkIdRef" type="xs:string" />
        <xs:element minOccurs="0" ref="stitch:aggregate"/>
        <xs:element minOccurs="0" ref="stitch:node"/>
        <xs:element minOccurs="0" ref="stitch:port"/>
        <xs:element minOccurs="0" ref="stitch:link"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="nextHop" 
                    type="stitch:GeniStitchNextHopContent" />
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="GeniStitchNextHopContent">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute use="optional" name="weight" type="xs:int"/>
            <xs:attribute use="optional" name="optional" type="xs:boolean"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="Lifetime">
      <xs:sequence>
        <xs:element name="start" type="stitch:TimeContent" minOccurs="0"/>
        <xs:element name="end" type="stitch:TimeContent" minOccurs="0"/>
        <xs:element name="duration" type="stitch:Duration" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
      <xs:attribute name="direction" use="optional" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="TimeContent">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute use="required" name="type" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="Duration">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute use="required" name="type" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!-- /Path -->

<!-- Service Toplogy -->
  <!--Service Topology elements will be used to describe more complex topologies like  a point-to-multipoint, 
multipoint-to-multipoint, and paths-with-protection.  This will described in a later revision-->
<!-- /Service Toplogy -->
  
  <!-- Misc Types -->
  <xs:complexType name="GeniStitchAggregateSignatureContent">
    <xs:attribute name="aggregateId" use="required" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="GeniStitchAddressContent">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <!--
            <xs:attribute use="optional" name="value" type="xs:string"/>
            -->
            <xs:attribute use="optional" name="type" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="GeniStitchSwcapContent">
    <xs:sequence>
      <xs:element name="switchingcapType" type="xs:string" />
      <xs:element name="encodingType" type="xs:string" />
      <xs:element name="switchingCapabilitySpecificInfo" 
        type="stitch:GeniStitchSwitchingCapabilitySpecificInfo"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="GeniStitchAdministrativeGroup">
    <xs:sequence>
      <xs:element name="group" type="xs:int"/>
      <xs:element minOccurs="0" name="groupID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GeniStitchSwitchingCapabilitySpecificInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_L2sc" type="stitch:GeniStitchSwitchingCapabilitySpecificInfo_L2sc"/>
      <!-- TBD
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Psc1" type="stitch:GeniStitchSwitchingCapabilitySpecificInfo_Psc1"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Psc2" type="stitch:GeniStitchSwitchingCapabilitySpecificInfo_Psc2"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Psc3" type="stitch:GeniStitchSwitchingCapabilitySpecificInfo_Psc3"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Psc4" type="stitch:GeniStitchSwitchingCapabilitySpecificInfo_Psc4"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Tdm" type="stitch:GeniStitchSwitchingCapabilitySpecificInfo_Tdm"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Lsc" type="stitch:GeniStitchSwitchingCapabilitySpecificInfo_Lsc"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Fsc" type="stitch:GeniStitchSwitchingCapabilitySpecificInfo_Fsc"/>
      -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GeniStitchSwitchingCapabilitySpecificInfo_L2sc">
    <xs:sequence>
      <xs:element minOccurs="0" name="capacity" type="xs:string"/>
      <xs:element  minOccurs="0" name="interfaceMTU" type="xs:int"/>
      <xs:element minOccurs="0" name="vlanRangeAvailability" type="xs:string"/>
      <xs:element minOccurs="0" name="suggestedVLANRange" type="xs:string"/>
      <xs:element minOccurs="0" name="vlanTranslation" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

   <!-- /Misc Types -->

  <xs:attribute name="vlantag" type="xs:string"/>

  <xs:element name="attached_link" type="xs:string"/>

</xs:schema>
