geni-aggregate/AggregateAttic/conf/schema/rspec_v3/stitch-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="http://hpn.east.isi.edu/rspec/ext/stitch/0.1/"
    xmlns:Stitch="http://hpn.east.isi.edu/rspec/ext/stitch/0.1/">

    <xs:annotation>
      <xs:documentation>
        This is an example schema for the GENI Common Stitching Schema.
        --- Open it in FireFox to view the XSD structure.
      </xs:documentation>
    </xs:annotation>
    
  <!--GENI Stitching -->
  <xs:element name="stitching" type="Stitch:StitchContent"/>
  
  <xs:complexType name="StitchContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="Stitch:path"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="Stitch:aggregate"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aggregateSignature" 
        type="Stitch:AggregateSignatureContent"/>
    </xs:sequence>
<!--    <xs:attribute name="id" use="required" type="xs:string"/> -->
    <xs:attribute use="required" name="lastUpdateTime" type="xs:string"/>
  </xs:complexType>
  
  <!-- Aggregate -->
  <xs:element name="aggregate" type="Stitch:AggregateContent"/>
  
  <xs:complexType name="AggregateContent">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="aggregatetype" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="stitchingmode" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="scheduledservices" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="negotiatedservices" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="lifetime" type="Stitch:Lifetime"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Stitch:node"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Stitch:port"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Stitch:link"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:string"/>
    <xs:attribute name="url" use="required" type="xs:string"/>
  </xs:complexType>
  
  <!-- Node -->
  <xs:element name="node" type="Stitch:NodeContent"/>
  
  <xs:complexType name="NodeContent">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="lifetime" type="Stitch:Lifetime"/>
        <xs:element minOccurs="0" name="address" type="Stitch:AddressContent" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Stitch:port"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
  
  <!-- Port -->
  <xs:element name="port" type="Stitch:PortContent" />
  
  <xs:complexType name="PortContent">
      <xs:sequence>
        <!-- <xs:group ref="Stitch:CapacityContent"/> -->
        <xs:element minOccurs="0" maxOccurs="1" name="lifetime" type="Stitch:Lifetime"/>
        <xs:element minOccurs="0" name="capacity" type="xs:string"/>
        <xs:element minOccurs="0" name="maximumReservableCapacity" type="xs:string"/>
        <xs:element minOccurs="0" name="minimumReservableCapacity" type="xs:string"/>
        <xs:element minOccurs="0" name="granularity" type="xs:string"/>
        <xs:element minOccurs="0" name="unreservedCapacity" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Stitch:link"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
  
  
  <!-- Link -->
  <xs:element name="link" type="Stitch:LinkContent" />
  
  <xs:complexType name="LinkContent">
      <xs:sequence>
        <xs:element minOccurs="0" name="remoteLinkId" type="xs:string" />
        <xs:element minOccurs="0" name="trafficEngineeringMetric" type="xs:string"/>        
        <!-- <xs:group ref="Stitch:CapacityContent"/> -->
        <xs:element minOccurs="0" name="capacity" type="xs:string"/>
        <xs:element minOccurs="0" name="maximumReservableCapacity" type="xs:string"/>
        <xs:element minOccurs="0" name="minimumReservableCapacity" type="xs:string"/>
        <xs:element minOccurs="0" name="granularity" type="xs:string"/>
        <xs:element minOccurs="0" name="unreservedCapacity" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="linkProtectionTypes" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="administrativeGroups" type="Stitch:AdministrativeGroup"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilityDescriptor" type="Stitch:SwitchingCapabilityDescriptor"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
  </xs:complexType>
    
  <!-- Path -->
  <xs:element name="path" type="Stitch:PathContent" />
  
  <xs:complexType name="PathContent">
      <xs:sequence>
        <xs:element minOccurs="0" name="globalId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="lifetime" type="Stitch:Lifetime" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="hop" type="Stitch:HopContent" />
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
      <xs:attribute name="direction" use="optional" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="HopContent">
      <xs:sequence>
        <xs:element minOccurs="0" name="aggregateIdRef" type="xs:string" />
        <xs:element minOccurs="0" name="nodeIdRef" type="xs:string" />
        <xs:element minOccurs="0" name="portIdRef" type="xs:string" />
        <xs:element minOccurs="0" name="linkIdRef" type="xs:string" />
        <xs:element minOccurs="0" ref="Stitch:aggregate"/>
        <xs:element minOccurs="0" ref="Stitch:node"/>
        <xs:element minOccurs="0" ref="Stitch:port"/>
        <xs:element minOccurs="0" ref="Stitch:link"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="nextHop" 
                    type="Stitch:NextHopContent" />
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
      <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="NextHopContent">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute use="optional" name="weight" type="xs:int"/>
            <xs:attribute use="optional" name="optional" type="xs:boolean"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="Lifetime">
      <xs:sequence>
        <xs:element name="start" type="Stitch:TimeContent" minOccurs="0"/>
        <xs:element name="end" type="Stitch:TimeContent" minOccurs="0"/>
        <xs:element name="duration" type="Stitch:Duration" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
      <xs:attribute name="direction" use="optional" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="TimeContent">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute use="required" name="type" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="Duration">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute use="required" name="type" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- Service Toplogy -->
  <!--Service Topology elements will be used to describe more complex topologies like  a point-to-multipoint,
multipoint-to-multipoint, and paths-with-protection.  This will described in a later revision-->
<!-- /Service Toplogy -->
  
  <!-- Misc Types -->
  <xs:complexType name="AggregateSignatureContent">
    <xs:attribute name="aggregateId" use="required" type="xs:string"/>
     <!-- Further content will be defined by DICE -->
  </xs:complexType>
  
  <xs:complexType name="AddressContent">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <!--
            <xs:attribute use="optional" name="value" type="xs:string"/>
            -->
            <xs:attribute use="optional" name="type" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="SwitchingCapabilityDescriptor">
    <xs:sequence>
      <xs:element name="switchingcapType" type="xs:string" />
      <xs:element name="encodingType" type="xs:string" />
      <xs:element name="switchingCapabilitySpecificInfo" type="Stitch:SwitchingCapabilitySpecificInfo"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AdministrativeGroup">
    <xs:sequence>
      <xs:element name="group" type="xs:int"/>
      <xs:element minOccurs="0" name="groupID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
 
  <xs:complexType name="SwitchingCapabilitySpecificInfo">
    <xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_L2sc" type="Stitch:SwitchingCapabilitySpecificInfo_L2sc"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Lsc" type="Stitch:SwitchingCapabilitySpecificInfo_Lsc"/>
<!--
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Psc1" type="Stitch:SwitchingCapabilitySpecificInfo_Psc1"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Psc2" type="Stitch:SwitchingCapabilitySpecificInfo_Psc2"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Psc3" type="Stitch:SwitchingCapabilitySpecificInfo_Psc3"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Psc4" type="Stitch:SwitchingCapabilitySpecificInfo_Psc4"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Tdm" type="Stitch:SwitchingCapabilitySpecificInfo_Tdm"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="switchingCapabilitySpecificInfo_Fsc" type="Stitch:SwitchingCapabilitySpecificInfo_Fsc"/>
-->
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="SwitchingCapabilitySpecificInfo_L2sc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="capability" type="xs:string"/>
      <xs:element  minOccurs="0" maxOccurs="1" name="interfaceMTU" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="vlanRangeAvailability" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="suggestedVLANRange" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="vlanTranslation" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SwitchingCapabilitySpecificInfo_Lsc">
    <xs:sequence>
      <xs:element minOccurs="0" name="wavelengthSpacing" type="xs:string"/>
      <xs:element minOccurs="0" name="wavelengthRangeAvailability" type="xs:string"/>
      <xs:element minOccurs="0" name="suggestedWavelengthRange" type="xs:string"/>
      <xs:element minOccurs="0" name="wavelengthTranslation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

<!-- /Misc Types -->
  <xs:attribute name="vlantag" type="xs:string"/>
  <xs:element name="attached_link" type="xs:string"/>

</xs:schema>
